@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-background-rgb: 255, 255, 255;
  --app-foreground-rgb: 0, 0, 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --app-background-rgb: 0, 0, 0;
    --app-foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--app-foreground-rgb));
  background: rgb(var(--app-background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html,
body {
  @apply w-full h-full;
}

@keyframes expandable-text-appear {
  from {
    @apply text-white bg-custom-red-500;
  }
  to {
    @apply text-custom-yellow bg-transparent;
  }
}

.animate-expandable-text-appear {
  animation: expandable-text-appear 1s ease-in-out forwards;
}

.dashed-background {
  background: linear-gradient(to bottom, transparent 50%, var(--color-slate-900) 50%), var(--color-slate-500);
  background-size: 16px var(--dash-size, 10px), 100% 2px;
}

@keyframes disappear-menu {
  0% {
    @apply opacity-100;
  }
  99% {
    @apply opacity-0;
  }
  100% {
    @apply opacity-0;
    @apply hidden;
  }
}

.animate-disappear-menu {
  animation: disappear-menu 0s forwards;
}
